name: Test Collect Metadata Script

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - series_id: GSE191067
            subset_list: ""
            comment: "No ENA metadata"
          - series_id: GSE264508
            subset_list: ""
            comment: ".fastq and .sra files in ENA metadata"
          - series_id: GSE274955
            subset_list: ""
            comment: "Broken .sra files. Files in .bam format available"
          - series_id: GSE250130
            subset_list: ""
            comment: "No Project or SubProjects in soft_family file"
          - series_id: E-MTAB-9221
            subset_list: ""
            comment: "Regular ENA dataset"
          - series_id: GSE111360
            subset_list: test_data/GSE111360/GSE111360.subset.list
            comment: "Subset list provided"
          - series_id: GSE117988
            subset_list: ""
            comment: "Crap .fastq files, but .sra files are available in ENA metadata"
          - series_id: GSE160513
            subset_list: ""
            comment: "Regular GEO dataset"
          - series_id: PRJNA511433
            subset_list: ""
            comment: "Regular GEO dataset but using BioProject"
    name: "Test ${{ matrix.series_id }}: ${{ matrix.comment }}"
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up environment
      run: |
        sudo apt-get update
        sudo apt-get install -y wget perl curl jq

    - name: Run metadata collection tests
      run: |
        chmod +x ./scripts/*
        chmod +x ./tests/test_metadata.sh
        ./tests/test_metadata.sh ${{ matrix.series_id }} ${{ matrix.subset_list }}